h1 {
    padding: 10px;
    color: red;
    text-align: center;
}
h2 {
    padding: 5px;
    color: red;
    text-align: center;
}
h3 {
    padding: 0px;
    color: red;
    text-align: center;
}

li {
    border: 15px;
    padding: 25px;
    color: red;
    text-align: center;
}